%div
  %p= "#{t('.size')}: #{number_to_human_size(document.size_bytes)}"
  %p= "#{t('.mimetype')}: #{document.mimetype}"
  %p= "#{t('.created')}: #{time_ago_in_words(document.created_at)} #{t('.ago')}"
  %p= "#{t('.pages.other').capitalize}: #{document.pages.count} #{t('.pages', count: document.pages.count)}"
