<div id=<%= "document-#{document.id}" %>>
  <h1><%= document.original_filename %></h1>
  <div>
    <%= render partial: 'shared/document/metadata', locals: { document: } %>
    <%= render partial: 'shared/document/delete', locals: { document: } %>
    <%= render partial: 'shared/document/download', locals: { document: } %>
    <%= render partial: 'shared/document/representation', locals: { document: } %>
  </div>
  <hr>
</div>
